.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #00533E;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
  }

  .salesTax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 1rem;
    margin: 1rem;
  }

  .note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 1rem;
    margin: 1rem;
    
  }

  .receipt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
  }

  .form {
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    padding: .25rem;
    max-height: 25rem;
    overflow: auto;
  }

  .submit {
    color:#445e2a;
  }

  .modalSize {
    width: 35rem;
    max-width: 35rem;
  }