.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #577935;
    border: 1px solid #577935;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #445e2a;
    border-color: #445e2a;
  }